@media (max-device-width: 1325px) {
  .head {
    padding: 53px 8vw;
  }
  .head .head__logo {
    font-size: 32px;
    line-height: 38px;
  }
  .head .head__links {
    min-width: 50vw;
  }
  .head .head__links .links__link {
    font-size: 18px;
    line-height: 26px;
  }
  .head .head__links .links__button {
    font-size: 16px;
    line-height: 24px;
  }
  .start-sec {
    padding: 0 8vw;
  }
  .start-sec .start-sec__text-block {
    min-height: 200px;
  }
  .start-sec .start-sec__text-block .text-block__headline {
    font-size: 30px;
    line-height: 40px;
    max-width: 100%;
  }
  .start-sec .start-sec__text-block .text-block__paragraf {
    font-size: 18px;
    line-height: 26px;
    max-width: 80%;
  }
  .start-sec .start-sec__text-block button {
    font-size: 18px;
  }
  .start-sec .start-sec__img-block {
    margin-top: 27px;
    min-height: 450px;
  }
  .start-sec .start-sec__img-block .img-block__text-block {
    padding: 20px 10px;
    max-width: 35%;
  }
  .start-sec .start-sec__img-block .img-block__text-block .text-block__headline {
    font-size: 30px;
    line-height: 40px;
  }
  .start-sec .start-sec__img-block .img-block__text-block .text-block__paragraf {
    margin-left: 14px;
    font-size: 16px;
    line-height: 26px;
    max-width: 70%;
  }
  .modal-block_bg .modal-block {
    margin: 3vh auto;
    padding: 0px 3% 3% 3%;
    max-height: 800px;
    min-height: 40%;
    max-width: 40vw;
  }
  .modal-block_bg .modal-block .modal-block__input-block {
    margin-top: 2%;
    width: 90%;
  }
  .modal-block_bg .modal-block .modal-block__input-block .input-block__label {
    font-size: 18px;
    line-height: 26px;
  }
  .modal-block_bg .modal-block .modal-block__input-block .input-block__input {
    font-size: 18px;
    line-height: 26px;
    min-width: 100%;
    padding: 5% 0 4% 5%;
  }
  .modal-block_bg .modal-block .modal-block__button {
    font-size: 18px;
    line-height: 28px;
    margin-top: 5%;
    padding: 14px 30px;
  }
  .accordeon-sec {
    padding: 0 8vw;
    margin-top: 50px;
  }
  .accordeon-sec .accordeon-sec__main-text .main-text__headline {
    font-size: 32px;
    line-height: 40px;
  }
  .accordeon-sec .accordeon-sec__main-text .main-text__sub-block p {
    font-size: 16px;
    line-height: 24px;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__slide-down-btn {
    height: 100px;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__slide-down-btn .slide-down-btn__number {
    font-size: 28px;
    line-height: 115%;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__slide-down-btn .slide-down-btn__headline {
    font-size: 28px;
    line-height: 115%;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__info-sec {
    min-height: 150px;
    padding: 25px 25px;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__info-sec .info-sec__paragraf {
    font-size: 18px;
    margin-left: 10%;
    line-height: 26px;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__info-sec .info-sec__img {
    width: 50%;
    max-width: 50%;
  }
  .slider-sec {
    padding: 0 8vw;
    margin-top: 50px;
  }
  .slider-sec .slider-sec__main-text .main-text__headline {
    font-size: 32px;
    line-height: 40px;
  }
  .slider-sec .slider-sec__main-text .main-text__sub-block p {
    font-size: 16px;
    line-height: 24px;
  }
  .slider-sec .slider__main-sec .main-sec__text .text__name {
    font-size: 32px;
    line-height: 40px;
  }
  .slider-sec .slider__main-sec .main-sec__text .text__job {
    font-size: 16px;
    line-height: 26px;
  }
  .slider-sec .slider__main-sec .main-sec__text .text__review {
    margin-top: 24px;
    font-size: 20px;
    line-height: 28px;
  }
  .slider-sec .slider__buttons-sec {
    width: 15%;
    top: -30px;
  }
  .slider-sec .slider__buttons-sec .slider-button {
    line-height: 100%;
    height: 50px;
  }
  .projects-tab {
    padding: 0 6vw;
    margin-top: 40px;
  }
  .projects-tab .projects-tab__text-block {
    margin-bottom: 120px;
  }
  .projects-tab .projects-tab__text-block h1 {
    font-size: 32px;
    line-height: 42px;
  }
  .projects-tab .projects-tab__text-block .text-block__paragraf-container p {
    font-size: 16px;
    line-height: 22px;
  }
  .projects-tab .projects-tab__tabs-container {
    height: 530px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
  }
  .projects-tab .projects-tab__tabs-container .container-btn {
    top: -68px;
  }
  .projects-tab .projects-tab__tabs-container .container-btn .change-content-btn .change-content-btn__number {
    font-size: 32px;
    line-height: 40px;
  }
  .projects-tab .projects-tab__tabs-container .content-container {
    margin: 0 auto;
    height: 70%;
    width: 90%;
  }
  .projects-tab .projects-tab__tabs-container .content-container .content-container__text-block {
    width: 60%;
    min-height: 75%;
    max-height: 90%;
  }
  .projects-tab .projects-tab__tabs-container .content-container .content-container__text-block .text-block__headline {
    font-size: 30px;
    line-height: 38px;
  }
  .projects-tab .projects-tab__tabs-container .content-container .content-container__text-block .text-block__paragraf {
    max-width: 100%;
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
  }
  .projects-tab .projects-tab__tabs-container .content-container .content-container__text-block .text-block__button {
    margin-top: 15px;
    font-size: 18px;
    line-height: 26px;
  }
  .projects-tab .projects-tab__tabs-container .content-container .content-container__img {
    margin-left: 10px;
  }
  footer {
    padding: 0 8vw;
    margin-top: 130px;
  }
  footer .foot-all {
    min-height: 303px;
  }
  footer .foot-all .foot-all__main-sec {
    height: 40%;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part .part__big-text {
    font-size: 20px;
    line-height: 28px;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part .part__big-text-sub p {
    font-size: 18px;
    line-height: 26px;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part .part__sub-links {
    font-size: 16px;
    line-height: 24px;
  }
  footer .foot-all .foot-all__sub-sec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 50%;
  }
  footer .foot-all .foot-all__sub-sec .sub-sec__text {
    width: 100%;
    text-align: center;
  }
  footer .foot-all .foot-all__sub-sec .sub-sec__text-div {
    margin-top: 10px;
    width: 50%;
  }
  footer .foot-all .foot-all__sub-sec .sub-sec__text-div .sub-sec__text {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-device-width: 1040px) {
  .head .head__links {
    display: none;
  }
  .head #menu-burger {
    display: inline;
  }
  .start-sec {
    padding: 0 6vw;
  }
  .slider-sec {
    padding: 10px 20px 20px 8vw;
  }
  .slider-sec .slider-sec__main-text .main-text__headline {
    font-size: 32px;
    line-height: 40px;
  }
  .slider-sec .slider-sec__main-text .main-text__sub-block p {
    font-size: 16px;
    line-height: 24px;
  }
  .slider-sec .slider__main-sec .main-sec__img {
    width: 40%;
  }
  .slider-sec .slider__main-sec .main-sec__text {
    width: 55%;
  }
  .slider-sec .slider__main-sec .main-sec__text .text__job {
    font-size: 14px;
    line-height: 22px;
  }
  .slider-sec .slider__main-sec .main-sec__text .text__review {
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    max-width: 90%;
  }
  .slider-sec .slider__buttons-sec {
    width: 15%;
    left: 45%;
    top: -10px;
  }
  footer {
    padding: 0 8vw;
    margin-top: 130px;
  }
  footer .foot-all {
    min-height: 303px;
  }
  footer .foot-all .foot-all__main-sec {
    height: 40%;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part .part__big-text {
    font-size: 20px;
    line-height: 28px;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part .part__big-text-sub p {
    width: 90%;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part .part__big-text-sub .big-text__line {
    display: none;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part .part__sub-links {
    font-size: 16px;
    line-height: 24px;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part_1 {
    width: 40%;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part_1 .part__submit-sec input {
    height: 60px;
    font-size: 18px;
    line-height: 22px;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part_1 .part__submit-sec button {
    padding: 11px 15px;
    top: -52px;
    font-size: 18px;
    line-height: 22px;
  }
  footer .foot-all .foot-all__sub-sec .sub-sec__text {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-device-width: 800px) {
  .head {
    padding: 33px 4vw;
  }
  .head #menu-burger img {
    margin-top: 25%;
    max-height: 30px;
  }
  .head .burger-bg .burger-content {
    height: 28vh;
    max-height: 38vh;
  }
  .head .burger-bg .burger-content .links .links__link {
    font-size: 18px;
    line-height: 26px;
  }
  .start-sec {
    padding: 0 4vw;
  }
  .start-sec .start-sec__text-block {
    min-height: 260px;
  }
  .start-sec .start-sec__text-block .text-block__headline {
    font-size: 30px;
    line-height: 38px;
    max-width: 85%;
  }
  .start-sec .start-sec__text-block .text-block__paragraf {
    font-size: 16px;
    line-height: 28px;
    max-width: 85%;
  }
  .start-sec .start-sec__text-block button {
    padding: 8px 30px;
  }
  .start-sec .start-sec__img-block {
    min-height: 400px;
  }
  .start-sec .start-sec__img-block .img-block__text-block {
    padding: 20px 10px;
    max-width: 35%;
  }
  .start-sec .start-sec__img-block .img-block__text-block .text-block__headline {
    font-size: 35px;
    line-height: 45px;
  }
  .start-sec .start-sec__img-block .img-block__text-block .text-block__paragraf {
    margin-left: 14px;
    font-size: 16px;
    line-height: 26px;
    max-width: 70%;
  }
  .modal-block_bg .modal-block {
    margin: 3vh auto;
    padding: 0px 4% 4% 4%;
    max-height: 80%;
    min-height: 50%;
    max-width: 40vw;
  }
  .modal-block_bg .modal-block .modal-block__input-block {
    margin-top: 2%;
    width: 90%;
  }
  .modal-block_bg .modal-block .modal-block__input-block .input-block__label {
    margin-top: 2%;
  }
  .modal-block_bg .modal-block .modal-block__input-block .input-block__input {
    padding: 6% 0 6% 6%;
  }
  .accordeon-sec {
    padding: 0 4vw;
    margin-top: 20px;
  }
  .accordeon-sec .accordeon-sec__main-sec {
    margin-top: 10px;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 2px solid #767676;
    margin-top: 10px;
    width: 100%;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__slide-down-btn {
    padding: 0 31px;
    height: 70px;
  }
  .slider-sec {
    padding: 10px 20px 20px 4vw;
    margin-top: 30px;
  }
  .slider-sec .slider-sec__main-text .main-text__headline {
    font-size: 32px;
    line-height: 40px;
  }
  .slider-sec .slider-sec__main-text .main-text__sub-block p {
    font-size: 16px;
    line-height: 24px;
  }
  .slider-sec .slider__main-sec {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .slider-sec .slider__main-sec .main-sec__img {
    width: 50%;
  }
  .slider-sec .slider__main-sec .main-sec__text {
    width: 80%;
  }
  .slider-sec .slider__main-sec .main-sec__text .text__job {
    font-size: 14px;
    line-height: 22px;
  }
  .slider-sec .slider__main-sec .main-sec__text .text__review {
    margin-top: 20px;
    font-size: 18px;
    line-height: 24px;
    max-width: 100%;
  }
  .slider-sec .slider__buttons-sec {
    width: 20%;
    left: 75%;
    top: -10px;
  }
  .projects-tab {
    padding: 0 4vw;
    margin-top: 40px;
  }
  .projects-tab .projects-tab__text-block {
    margin-bottom: 90px;
  }
  .projects-tab .projects-tab__tabs-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
  }
  .projects-tab .projects-tab__tabs-container .container-btn {
    top: -52px;
    width: 80%;
  }
  .projects-tab .projects-tab__tabs-container .container-btn .change-content-btn {
    padding: 12px 20px 8px 20px;
  }
  .projects-tab .projects-tab__tabs-container .container-btn .change-content-btn .change-content-btn__number {
    font-size: 24px;
    line-height: 28px;
  }
  .projects-tab .projects-tab__tabs-container .content-container {
    margin: 0 auto;
    height: 100%;
    top: -20px;
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .projects-tab .projects-tab__tabs-container .content-container .content-container__text-block {
    width: 100%;
    min-height: 65%;
    max-height: 90%;
  }
  .projects-tab .projects-tab__tabs-container .content-container .content-container__text-block .text-block__headline {
    font-size: 24px;
    line-height: 30px;
    max-width: 100%;
  }
  .projects-tab .projects-tab__tabs-container .content-container .content-container__text-block .text-block__paragraf {
    max-width: 100%;
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
  }
  .projects-tab .projects-tab__tabs-container .content-container .content-container__text-block .text-block__button {
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
    padding: 13px 20px;
  }
  .projects-tab .projects-tab__tabs-container .content-container .content-container__img {
    margin-left: 0;
    min-width: 30%;
    max-width: 40%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  footer {
    padding: 0 4vw;
    margin-top: 50px;
  }
  footer .foot-all {
    min-height: 223px;
  }
  footer .foot-all .foot-all__main-sec {
    height: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part .part__big-text {
    margin-top: 12px;
    font-size: 18px;
    line-height: 26px;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part .part__big-text-sub p {
    width: 90%;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part .part__big-text-sub .big-text__line {
    display: none;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part .part__sub-links {
    display: none;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part_1 {
    width: 40%;
  }
  footer .foot-all .foot-all__main-sec .main-sec__part_1 .part__submit-sec {
    display: none;
  }
  footer .foot-all .foot-all__sub-sec .sub-sec__text {
    font-size: 14px;
    line-height: 22px;
  }
  footer .foot-all .foot-all__sub-sec .sub-sec__text-div .sub-sec__text {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-device-width: 600px) {
  .head {
    padding: 33px 2vw;
  }
  .head .head__logo {
    font-size: 26px;
    line-height: 34px;
  }
  .head #menu-burger img {
    margin-top: 25%;
    max-height: 30px;
  }
  .head .burger-bg .burger-content {
    width: 35vw;
    margin: 5vh 55vw;
  }
  .head .burger-bg .burger-content .links .links__link {
    font-size: 16px;
    line-height: 24px;
  }
  .start-sec {
    padding: 0 2vw;
  }
  .start-sec .start-sec__text-block {
    min-height: 100px;
  }
  .start-sec .start-sec__text-block .text-block__headline {
    font-size: 28px;
    line-height: 36px;
    max-width: 95%;
  }
  .start-sec .start-sec__text-block button {
    margin-top: 20px;
  }
  .start-sec .start-sec__text-block .text-block__paragraf {
    display: none;
  }
  .start-sec .start-sec__text-block button {
    padding: 10px 30px;
  }
  .start-sec .start-sec__img-block {
    min-height: 200px;
  }
  .start-sec .start-sec__img-block .img-block__text-block {
    margin: 10px;
    padding: 8px 2px;
    max-width: 55%;
    max-height: 200px;
  }
  .start-sec .start-sec__img-block .img-block__text-block .text-block__headline {
    font-size: 20px;
    line-height: 30px;
  }
  .start-sec .start-sec__img-block .img-block__text-block .text-block__paragraf {
    margin-left: 6px;
    font-size: 12px;
    line-height: 22px;
    max-width: 100%;
  }
  .modal-block_bg .modal-block {
    margin: 5% auto;
    padding: 0px 4% 4% 4%;
    max-height: 90%;
    min-height: 50%;
    max-width: 80vw;
  }
  .modal-block_bg .modal-block .modal-block__input-block {
    margin-top: 2%;
    width: 90%;
  }
  .modal-block_bg .modal-block .modal-block__input-block .input-block__label {
    margin-top: 2%;
  }
  .modal-block_bg .modal-block .modal-block__input-block .input-block__input {
    padding: 6% 0 6% 6%;
  }
  .accordeon-sec {
    padding: 0 2vw;
  }
  .accordeon-sec .accordeon-sec__main-text .main-text__headline {
    font-size: 28px;
    line-height: 36px;
  }
  .accordeon-sec .accordeon-sec__main-text .main-text__sub-block p {
    font-size: 14px;
    line-height: 22px;
    margin-left: 10px;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el {
    margin-top: 10px;
    width: 100%;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__slide-down-btn {
    padding: 0 31px;
    height: 70px;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__slide-down-btn .slide-down-btn__number {
    font-size: 20px;
    line-height: 100%;
    width: 9%;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__slide-down-btn .slide-down-btn__headline {
    font-size: 20px;
    line-height: 26px;
    width: 86%;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__info-sec {
    padding: 15px 15px;
    min-height: 100px;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__info-sec .info-sec__paragraf {
    font-size: 14px;
    line-height: 24px;
  }
  @-webkit-keyframes info-appear {
    0% {
      margin-bottom: -80px;
      opacity: 0%;
    }
    50% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
      margin-bottom: 0;
    }
  }
  @keyframes info-appear {
    0% {
      margin-bottom: -80px;
      opacity: 0%;
    }
    50% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
      margin-bottom: 0;
    }
  }
  .slider-sec {
    padding: 10px 20px 20px 2vw;
  }
  .slider-sec .slider__main-sec {
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .slider-sec .slider__main-sec .main-sec__img {
    width: 52%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .slider-sec .slider__main-sec .main-sec__text {
    width: 100%;
    max-width: 100%;
  }
  .slider-sec .slider__main-sec .main-sec__text .text__name {
    font-size: 28px;
    line-height: 34px;
  }
  .slider-sec .slider__main-sec .main-sec__text .text__job {
    margin-top: none;
    font-size: 14px;
    line-height: 22px;
  }
  .slider-sec .slider__main-sec .main-sec__text .text__review {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    max-width: 90%;
  }
  .projects-tab {
    padding: 0 2vw;
    margin-top: 20px;
  }
  .projects-tab .projects-tab__text-block {
    margin-bottom: 70px;
  }
  .projects-tab .projects-tab__tabs-container {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .projects-tab .projects-tab__tabs-container .container-btn {
    top: -48px;
    left: 5.5%;
    width: 80%;
  }
  .projects-tab .projects-tab__tabs-container .container-btn .change-content-btn {
    padding: 12px 20px 8px 20px;
    margin-right: 15px;
  }
  .projects-tab .projects-tab__tabs-container .container-btn .change-content-btn .change-content-btn__number {
    font-size: 18px;
    line-height: 24px;
  }
  .projects-tab .projects-tab__tabs-container .content-container .content-container__text-block {
    width: 100%;
    min-height: 65%;
    max-height: 90%;
  }
  .projects-tab .projects-tab__tabs-container .content-container .content-container__text-block .text-block__headline {
    font-size: 20px;
    line-height: 30px;
    max-width: 100%;
  }
  .projects-tab .projects-tab__tabs-container .content-container .content-container__text-block .text-block__paragraf {
    max-width: 100%;
    margin-top: 10px;
    font-size: 16px;
    line-height: 22px;
  }
  .projects-tab .projects-tab__tabs-container .content-container .content-container__text-block .text-block__button {
    margin-top: 10px;
    padding: 10px 15px;
  }
  .projects-tab .projects-tab__tabs-container .content-container .content-container__img {
    margin-left: 0;
    min-width: 50%;
    max-width: 50%;
  }
  footer {
    padding: 0 2vw;
    margin-top: 50px;
  }
  footer .foot-all {
    min-height: 223px;
  }
  footer .foot-all .foot-all__sub-sec {
    margin-top: 10px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .foot-all .foot-all__sub-sec .sub-sec__text {
    font-size: 12px;
    line-height: 20px;
    max-width: 80%;
    text-align: left;
  }
  footer .foot-all .foot-all__sub-sec .sub-sec__text-div {
    margin-top: 5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .foot-all .foot-all__sub-sec .sub-sec__text-div .sub-sec__text {
    width: 90%;
    font-size: 12px;
    line-height: 20px;
  }
}
@media (max-device-width: 400px) {
  .start-sec .start-sec__img-block .img-block__text-block {
    display: none;
  }
  .accordeon-sec {
    padding: 0 2vw;
  }
  .accordeon-sec .accordeon-sec__main-text .main-text__headline {
    font-size: 28px;
    line-height: 36px;
  }
  .accordeon-sec .accordeon-sec__main-text .main-text__sub-block p {
    font-size: 14px;
    line-height: 22px;
    margin-left: 10px;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__slide-down-btn {
    padding: 0 10px;
    height: 50px;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__slide-down-btn .slide-down-btn__headline {
    font-size: 16px;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__slide-down-btn .slide-down-btn__number {
    font-size: 16px;
  }
  .accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__info-sec {
    padding: 10px;
  }
  .slider-sec {
    padding: 10px 20px 20px 2vw;
    margin-top: 10px;
  }
  .slider-sec .slider-sec__main-text .main-text__headline {
    font-size: 28px;
    line-height: 36px;
  }
  .slider-sec .slider-sec__main-text .main-text__sub-block p {
    font-size: 14px;
    line-height: 24px;
  }
  .slider-sec .slider__main-sec {
    margin-top: 15px;
  }
  .slider-sec .slider__main-sec .main-sec__img {
    width: 60%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .slider-sec .slider__main-sec .main-sec__text {
    width: 90%;
  }
  .slider-sec .slider__main-sec .main-sec__text .text__review {
    margin-top: 10px;
    font-size: 18px;
    line-height: 24px;
    max-width: 100%;
  }
  .slider-sec .slider__buttons-sec {
    width: 30%;
    left: 70%;
    top: 15px;
  }
}