@media (max-width: 1345px) {
  .main-block .main-block__text-block h1 {
    max-width: 90%;
  }
}
@media (max-width: 1300px) {
  .main-block .main-block__text-block h1 {
    font-size: 68px;
  }
  .main-block .main-block__text-block img {
    top: 87px;
  }
}
@media (max-width: 1220px) {
  .head {
    padding: 20px 130px 56px;
  }
  .main-block {
    padding-left: 120px;
  }
  .main-block .main-block__text-block h1 {
    font-size: 64px;
  }
  .main-block .main-block__text-block img {
    top: 80px;
  }
  .main-block .main-block__text-block .text-block__ball {
    width: 14px;
    height: 14px;
  }
  .main-block .main-block__text-block .text-block__ball_color_red {
    top: -431px;
  }
  .mid-sec {
    margin-top: 90px;
  }
  .mid-sec p {
    margin-bottom: 41px;
  }
}
@media (max-width: 1140px) {
  .head {
    padding: 20px 90px 35px;
  }
  .head .head__links a {
    font-size: 14px;
  }
  .head .head__links button {
    font-size: 14px;
    padding: 12px 26px;
  }
  .main-block {
    padding-left: 100px;
  }
  .main-block .main-block__text-block h1 {
    font-size: 54px;
  }
  .main-block .main-block__text-block p {
    font-size: 16px;
  }
  .main-block .main-block__text-block button {
    font-size: 14px;
  }
  .main-block .main-block__text-block img {
    top: 68px;
    left: 21%;
  }
  .main-block .main-block__text-block .text-block__ball_color_red {
    top: -400px;
  }
  .sec-grid h1 {
    font-size: 42px;
    margin-bottom: 34px;
  }
  .mid-sec h1 {
    font-size: 42px;
  }
  .mid-sec button {
    font-size: 14px;
  }
  .article-block .article-block__text-sec {
    margin-bottom: 60px;
  }
  .article-block .article-block__main-sec .main-sec__block {
    min-height: 380px;
  }
  .article-block .article-block__main-sec .main-sec__block h5 {
    font-size: 14px;
  }
  .article-block .article-block__main-sec .main-sec__block .block__main-text {
    font-size: 20px;
  }
  .article-block .article-block__main-sec .main-sec__block .block__date {
    font-size: 14px;
  }
  .foot {
    padding: 55px 100px;
  }
  .foot .foot__sec p,
  .foot .foot__sec a {
    font-size: 14px;
  }
}
@media (max-width: 960px) {
  .head .head__links a {
    font-size: 12px;
  }
  .head .head__links button {
    font-size: 12px;
  }
  .main-block {
    padding-left: 100px;
  }
  .main-block .main-block__text-block h1 {
    font-size: 48px;
  }
  .main-block .main-block__text-block p {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .main-block .main-block__text-block button {
    font-size: 12px;
  }
  .main-block .main-block__text-block img {
    top: 58px;
    left: 21%;
  }
  .main-block .main-block__text-block .text-block__ball_color_red {
    top: -300px;
  }
  .mid-sec h1 {
    font-size: 38px;
  }
  .mid-sec p {
    font-size: 14px;
  }
  .mid-sec button {
    font-size: 12px;
  }
  .article-block {
    padding: 0px 80px;
  }
  .article-block .article-block__text-sec .text-sec__block h1 {
    font-size: 38px;
  }
  .article-block .article-block__text-sec .text-sec__block p {
    font-size: 14px;
  }
  .article-block .article-block__text-sec button {
    font-size: 14px;
  }
  .article-block .article-block__main-sec .main-sec__block {
    min-height: 350px;
  }
  .article-block .article-block__main-sec .main-sec__block h5 {
    font-size: 12px;
  }
  .article-block .article-block__main-sec .main-sec__block .block__main-text {
    font-size: 18px;
  }
  .article-block .article-block__main-sec .main-sec__block .block__date {
    font-size: 12px;
  }
  .foot {
    padding: 45px 60px;
  }
}
@media (max-width: 900px) {
  .head {
    padding: 20px 40px 15px;
  }
  .head .head__links {
    display: none;
  }
  .head .head__burger {
    display: block;
    width: 5%;
  }
  .main-block {
    padding-left: 20px;
  }
  .main-block .main-block__text-block {
    min-width: 100%;
    position: inherit;
    z-index: 2;
  }
  .main-block .main-block__text-block h1 {
    max-width: 70%;
    font-size: 50px;
    letter-spacing: 0.9px;
  }
  .main-block .main-block__text-block p {
    font-size: 18px;
    max-width: 50%;
  }
  .main-block .main-block__text-block .text-block__ball {
    display: none;
  }
  .main-block .main-block__text-block img {
    width: 30%;
    left: 11%;
    top: 66px;
  }
  .main-block .main-block__text-block button {
    font-size: 14px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main-block .main-block__img-man {
    filter: opacity(40%) contrast(110%);
    -webkit-filter: opacity(40%) contrast(110%);
    position: relative;
    z-index: -2;
    left: -55%;
    width: 55%;
  }
  .sec-grid {
    margin-top: 20px;
    padding: 30px 0px;
  }
  .sec-grid .sec-grid__container {
    max-width: 70%;
  }
  .mid-sec {
    padding: 60px 0px;
    margin-top: 20px;
  }
  .mid-sec p {
    max-width: 50%;
  }
  .article-block {
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 0 40px;
  }
  .article-block .article-block__text-sec {
    margin-bottom: 30px;
  }
  .article-block .article-block__text-sec .text-sec__block p {
    font-size: 12px;
  }
  .article-block .article-block__text-sec .text-sec__block h1 {
    font-size: 30px;
    margin-top: 0;
  }
  .article-block .article-block__main-sec {
    gap: 30px;
  }
  .article-block .article-block__main-sec .main-sec__block {
    min-height: 310px;
  }
  .article-block .article-block__main-sec .main-sec__block .block__main-text {
    font-size: 16px;
  }
  .foot {
    padding: 35px 30px;
  }
  .foot .foot__sec {
    min-height: 140px;
  }
  .foot .foot__sec p, .foot .foot__sec a {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .main-block .main-block__text-block h1 {
    max-width: 70%;
    font-size: 46px;
    letter-spacing: 0.8px;
  }
  .main-block .main-block__text-block p {
    font-size: 16px;
  }
  .article-block .article-block__main-sec {
    grid-template: repeat(3, 1fr)/auto;
    gap: 0px;
    row-gap: 10px;
  }
  .article-block .article-block__main-sec .block__img {
    min-height: none;
  }
  .article-block .article-block__main-sec .main-sec__block_1 {
    grid-row: 1/span 1;
    grid-column: none;
  }
  .article-block .article-block__main-sec .main-sec__block_2 {
    grid-row: 2/span 1;
    grid-column: none;
  }
  .article-block .article-block__main-sec .main-sec__block_3 {
    grid-row: 3/span 1;
    grid-column: none;
  }
  .article-block .article-block__main-sec .main-sec__block {
    min-height: 310px;
  }
  .article-block .article-block__main-sec .main-sec__block .block__main-text {
    font-size: 16px;
  }
  .foot {
    padding: 20px 30px;
  }
  .foot .foot__sec {
    min-height: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .foot .foot__sec p, .foot .foot__sec a {
    display: none;
  }
  .foot .foot__sec .sec__headline {
    display: inline;
    font-size: 18px;
  }
  .foot .foot__sec_1 p {
    display: inline;
  }
}
@media (max-width: 600px) {
  .head {
    padding: 10px 10px 15px;
  }
  .head .head__logo {
    width: 14%;
  }
  .head .head__burger {
    width: 10%;
  }
  .main-block {
    padding-left: 0;
  }
  .main-block .main-block__text-block {
    max-width: 100%;
    padding-bottom: 20px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .main-block .main-block__text-block h1 {
    margin-left: 10px;
    max-width: none;
    font-size: 50px;
    letter-spacing: 0.9px;
  }
  .main-block .main-block__text-block p {
    margin-left: 10px;
    font-size: 20px;
    max-width: 80%;
  }
  .main-block .main-block__text-block img {
    display: none;
  }
  .main-block .main-block__text-block button {
    margin-left: 10px;
    font-size: 14px;
  }
  .main-block .main-block__img-man {
    left: -100%;
    width: 100%;
    filter: sepia(0.7) hue-rotate(260deg) saturate(2.3) brightness(1.5) opacity(0.4);
    -webkit-filter: sepia(0.7) hue-rotate(260deg) saturate(2.3) brightness(1.5) opacity(0.4);
  }
  .sec-grid {
    padding: 20px 0px;
  }
  .sec-grid h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .sec-grid .sec-grid__container {
    gap: 10px;
    max-width: 90%;
    grid-template: repeat(4, 1fr)/repeat(3, 1fr);
  }
  .sec-grid .container__el_1 {
    grid-row: 1/span 1;
    grid-column: 1/span 1;
  }
  .sec-grid .container__el_2 {
    grid-row: 2/span 2;
    grid-column: 1/span 1;
  }
  .sec-grid .container__el_3 {
    grid-row: 1/span 2;
    grid-column: 2/span 2;
  }
  .sec-grid .container__el_4 {
    grid-row: 3/span 1;
    grid-column: 2/span 1;
  }
  .sec-grid .container__el_5 {
    grid-row: 3/span 1;
    grid-column: 3/span 1;
  }
  .sec-grid .container__el_6 {
    grid-row: 4/span 1;
    grid-column: 1/span 1;
  }
  .sec-grid .container__el_7 {
    grid-row: 4/span 1;
    grid-column: 2/span 2;
  }
  .mid-sec {
    padding: 60px 0px;
  }
  .mid-sec h1 {
    font-size: 24px;
  }
  .mid-sec p {
    font-size: 12px;
    max-width: 80%;
    margin-top: 8px;
    margin-bottom: 14px;
  }
  .article-block {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .article-block .article-block__text-sec {
    margin-bottom: 20px;
  }
  .article-block .article-block__text-sec .text-sec__block h1 {
    font-size: 26px;
  }
  .article-block .article-block__text-sec button {
    padding: 12px 36px;
  }
  .foot {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .foot .foot__sec_2, .foot .foot__sec_3, .foot .foot__sec_4 {
    display: none;
  }
  .foot .dop-sec {
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .foot .dop-sec .foot__sec {
    min-height: 34px;
  }
  .foot .dop-sec .foot__sec .sec__headline {
    font-size: 16px;
  }
  .foot .foot__sec_1 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .foot .foot__sec_1 p {
    margin-top: 0;
    max-width: 200px;
  }
  .foot .foot__sec_1 p:nth-child(2) {
    margin-top: 10px;
  }
}
@media (max-width: 450px) {
  .main-block .main-block__text-block h1 {
    font-size: 40px;
  }
  .main-block .main-block__text-block p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .main-block .main-block__text-block button {
    font-size: 12px;
  }
  .article-block {
    padding: 0 20px;
  }
  .article-block .article-block__text-sec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article-block .article-block__text-sec .text-sec__block p {
    display: none;
  }
  .article-block .article-block__text-sec button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .foot .dop-sec {
    margin-left: 10px;
  }
  .foot .dop-sec .foot__sec .sec__headline {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .main-block .main-block__text-block h1 {
    font-size: 32px;
  }
  .main-block .main-block__text-block p {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .main-block .main-block__text-block button {
    padding: 10px 20px;
    font-size: 10px;
  }
  .sec-grid {
    padding: 0;
    margin-top: 10px;
  }
  .sec-grid h1 {
    font-size: 25px;
    margin-bottom: 0px;
  }
  .mid-sec {
    padding: 50px 0px;
  }
  .mid-sec h1 {
    font-size: 20px;
  }
  .mid-sec p {
    font-size: 10px;
    max-width: 80%;
    margin-top: 0px;
    margin-bottom: 14px;
  }
  .mid-sec button {
    padding: 10px 34px;
  }
  .article-block .article-block__text-sec button {
    font-size: 12px;
    padding: 8px 30px;
  }
  .foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .foot .dop-sec {
    margin-left: 0px;
  }
  .foot .dop-sec .foot__sec .sec__headline {
    font-size: 16px;
  }
  .foot .foot__sec_1 {
    margin-top: 10px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .foot .foot__sec_1 p {
    font-size: 12px;
    max-width: 90%;
  }
}