@font-face {
  font-family: "PLayfairDisplay";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
}
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  padding: 11px 39px;
  font: 100% Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  color: white;
  border: #FF6A28 solid 1px;
  background: #FF6A28;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-shadow: 0px 21px 42px -19px rgba(246, 140, 82, 0.34);
  box-shadow: 0px 21px 42px -19px rgba(246, 140, 82, 0.34);
  position: relative;
}

button:active {
  top: 3px;
}

h1 {
  font: 100% PLayfairDisplay;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
  color: #121212;
}

a,
p {
  font: 100% Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 175%;
  color: rgba(18, 18, 18, 0.6);
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 53px 10vw;
}
.head .head__logo {
  font: 100% PlayfairDisplay;
  font-size: 32px;
  line-height: 43px;
  font-weight: 700;
}
.head .head__links {
  min-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head .head__links .links__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(18, 18, 18, 0.6);
}
.head .head__links .links__link_black_text {
  color: black;
}
.head .head__links .links__button {
  padding: 11px 29px;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #FF6A28;
  border: #FF6A28 solid 1px;
  background: white;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.head #link-top {
  position: fixed;
  top: 8%;
  left: 3%;
  width: 40px;
  height: 30px;
  animation: appear 0.5s ease;
  -webkit-animation: appear 0.5s ease;
}
.head #link-top img {
  opacity: 15%;
}
@-webkit-keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes appear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.head #menu-burger {
  display: none;
  height: 100%;
}
.head .burger-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(43, 27, 27, 0.4);
  z-index: 100;
  animation: 0.2s burger-bg-appear linear;
  -webkit-animation: 0.2s burger-bg-appear linear;
}
.head .burger-bg .burger-content {
  animation: burger-content-appear 0.3s ease-out;
  margin: 5vh 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  width: 25vw;
  height: 30vh;
  max-height: 40vh;
  border-radius: 20px 0px 0px 20px;
  -webkit-border-radius: 20px 0px 0px 20px;
  -moz-border-radius: 20px 0px 0px 20px;
  -ms-border-radius: 20px 0px 0px 20px;
  -o-border-radius: 20px 0px 0px 20px;
  padding: 28px;
  -webkit-animation: burger-content-appear 0.3s ease-out;
}
.head .burger-bg .burger-content .burger-content__close {
  justify-self: flex-start;
  background: url(../img/close.png) no-repeat;
  background-size: cover;
  border: none;
  padding: 0;
  height: 45px;
  width: 45px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.head .burger-bg .burger-content .links {
  width: 100%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.head .burger-bg .burger-content .links .links__link {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #121212;
}
@-webkit-keyframes burger-bg-appear {
  0% {
    background-color: rgba(43, 27, 27, 0);
  }
  100% {
    background-color: rgba(43, 27, 27, 0.4);
  }
}
@keyframes burger-bg-appear {
  0% {
    background-color: rgba(43, 27, 27, 0);
  }
  100% {
    background-color: rgba(43, 27, 27, 0.4);
  }
}
@-webkit-keyframes burger-content-appear {
  0% {
    transform: translateX(90%);
    opacity: 0%;
    -webkit-transform: translateX(90%);
    -moz-transform: translateX(90%);
    -ms-transform: translateX(90%);
    -o-transform: translateX(90%);
  }
  40% {
    opacity: 100%;
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes burger-content-appear {
  0% {
    transform: translateX(90%);
    opacity: 0%;
    -webkit-transform: translateX(90%);
    -moz-transform: translateX(90%);
    -ms-transform: translateX(90%);
    -o-transform: translateX(90%);
  }
  40% {
    opacity: 100%;
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
.head .links-hide {
  display: none;
}

.start-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 135px;
}
.start-sec .start-sec__text-block {
  min-height: 365px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.start-sec .start-sec__text-block .text-block__headline {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
  max-width: 96%;
}
.start-sec .start-sec__text-block .text-block__paragraf {
  text-align: center;
  font: 100% Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  color: rgba(18, 18, 18, 0.6);
  max-width: 82%;
}
.start-sec .start-sec__img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 47px;
  width: 100%;
  min-height: 643px;
  background: url(../img/Img1.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 14px 33px -19px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 14px 33px -19px rgba(0, 0, 0, 0.21);
}
.start-sec .start-sec__img-block .img-block__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 29%;
  max-height: 148px;
  background: rgba(255, 255, 255, 0.7607843137);
  padding: 44px 38px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 28px;
}
.start-sec .start-sec__img-block .img-block__text-block .text-block__headline {
  font: 100% Poppins;
  font-weight: 600;
  font-size: 44px;
  line-height: 56px;
  color: #FF6A28;
}
.start-sec .start-sec__img-block .img-block__text-block .text-block__paragraf {
  margin-left: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  max-width: 68%;
}
.start-sec .start-sec__img-block .img-block__text-block_right_down {
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
}

.modal-block_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background-color: rgba(43, 27, 27, 0.4);
  z-index: 1000;
}
.modal-block_bg .modal-block {
  max-height: 95%;
  min-height: 900px;
  margin: 5vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 37px 41px 37px;
  background: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  max-width: 585px;
  -webkit-box-shadow: 10px 9px 34px 0px rgba(32, 7, 13, 0.14);
  box-shadow: 10px 9px 34px 0px rgba(32, 7, 13, 0.14);
}
.modal-block_bg .modal-block .modal-block__close {
  background: url(../img/close.png) no-repeat;
  background-size: cover;
  border: none;
  padding: 0;
  height: 45px;
  width: 45px;
  margin-top: 15px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.modal-block_bg .modal-block .modal-block__input-block {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.modal-block_bg .modal-block .modal-block__input-block .input-block__label {
  font: 100% Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 46px;
  color: black;
}
.modal-block_bg .modal-block .modal-block__input-block .input-block__input {
  margin: 4px;
  font: 100% Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 46px;
  color: rgba(18, 18, 18, 0.5019607843);
  background: #F8FAFB;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: none;
  padding: 31px 0 31px 35px;
  min-width: 510px;
}
.modal-block_bg .modal-block .modal-block__input-block_first {
  margin-top: 4px;
}
.modal-block_bg .modal-block .modal-block__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font: 100% Poppins;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background: #FF6A28;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  border: none;
  margin-top: 58px;
  padding: 23px 50px;
}

.accordeon-sec {
  margin-top: 111px;
  padding: 0 135px;
}
.accordeon-sec .accordeon-sec__main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.accordeon-sec .accordeon-sec__main-text .main-text__headline {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}
.accordeon-sec .accordeon-sec__main-text .main-text__sub-block {
  margin-top: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.accordeon-sec .accordeon-sec__main-text .main-text__sub-block .sub__block-line {
  width: 67px;
  height: 0px;
  border: 2px solid #FF6A28;
}
.accordeon-sec .accordeon-sec__main-text .main-text__sub-block p {
  margin-left: 17px;
}
.accordeon-sec .accordeon-sec__main-sec {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
.accordeon-sec .accordeon-sec__main-sec .accordeon-el {
  border: 2px solid #121212;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  margin-top: 45px;
  width: 90%;
  -webkit-box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.1);
}
.accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__slide-down-btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 41px;
  background: #FFFFFF;
  border: 2px solid #121212;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 170px;
}
.accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__slide-down-btn .slide-down-btn__number {
  font-weight: 600;
  font-size: 50px;
  line-height: 175%;
  color: rgba(255, 106, 40, 0.7);
  width: 12%;
}
.accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__slide-down-btn .slide-down-btn__headline {
  width: 86%;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #121212;
}
.accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__slide-down-btn .slide-down-btn__img {
  justify-self: flex-end;
  width: 6%;
}
.accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__slide-down-btn_animation {
  background-color: rgba(255, 105, 40, 0.0470588235);
  animation: borderchange 0.5s ease;
  -webkit-animation: borderchange 0.5s ease;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -ms-border-radius: 10px 10px 0px 0px;
  -o-border-radius: 10px 10px 0px 0px;
}
@-webkit-keyframes borderchange {
  0% {
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
  }
  100% {
    background-color: rgba(255, 105, 40, 0.0470588235);
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
  }
}
@keyframes borderchange {
  0% {
    background-color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
  }
  100% {
    background-color: rgba(255, 105, 40, 0.0470588235);
    border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -ms-border-radius: 10px 10px 0px 0px;
    -o-border-radius: 10px 10px 0px 0px;
  }
}
.accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__info-sec {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 45px 45px;
  animation: info-appear 1s ease;
  -webkit-animation: info-appear 1s ease;
  margin-top: 0px;
}
.accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__info-sec .info-sec__img {
  width: 40%;
  max-width: 40%;
}
.accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__info-sec .info-sec__img img {
  opacity: 95%;
}
.accordeon-sec .accordeon-sec__main-sec .accordeon-el .accordeon-el__info-sec .info-sec__paragraf {
  margin-left: 111px;
  max-width: 50%;
  font-weight: 500;
  font-size: 32px;
  line-height: 43px;
}
.accordeon-sec .accordeon-sec__main-sec .accordeon-el .info-hide {
  display: none;
}
@-webkit-keyframes info-appear {
  0% {
    margin-bottom: -200px;
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    margin-bottom: 0;
  }
}
@keyframes info-appear {
  0% {
    margin-bottom: -200px;
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    margin-bottom: 0;
  }
}

.slider-sec {
  margin-top: 99px;
  padding: 56px 135px;
  background: #F8FAFB;
}
.slider-sec .slider-sec__main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.slider-sec .slider-sec__main-text .main-text__headline {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
}
.slider-sec .slider-sec__main-text .main-text__sub-block {
  margin-top: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.slider-sec .slider-sec__main-text .main-text__sub-block .sub-block__line {
  width: 67px;
  height: 0px;
  border: 2px solid #FF6A28;
}
.slider-sec .slider-sec__main-text .main-text__sub-block p {
  margin-left: 17px;
}
.slider-sec .slider__main-sec {
  position: relative;
  z-index: 0;
  animation: slider-content 0.8s ease;
  width: 100%;
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-animation: slider-content 0.8s ease;
}
.slider-sec .slider__main-sec .main-sec__img {
  width: 46%;
  -webkit-box-shadow: 5px 36px 44px -10px rgba(34, 60, 80, 0.18);
  box-shadow: 5px 36px 44px -10px rgba(34, 60, 80, 0.18);
}
.slider-sec .slider__main-sec .main-sec__text {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.slider-sec .slider__main-sec .main-sec__text .text__name {
  text-align: justify;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #121212;
}
.slider-sec .slider__main-sec .main-sec__text .text__job {
  margin-top: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgba(18, 18, 18, 0.6);
}
.slider-sec .slider__main-sec .main-sec__text .text__review {
  margin-top: 34px;
  font-weight: 500;
  font-size: 22px;
  line-height: 191%;
  max-width: 100%;
  color: rgba(18, 18, 18, 0.83);
}
.slider-sec .slider__main-sec_animation_over_dir {
  animation: slider-content-over-dir 0.8s ease;
  -webkit-animation: slider-content-over-dir 0.8s ease;
}
@-webkit-keyframes slider-content {
  0% {
    opacity: 5%;
    transform: translateX(40%);
    -webkit-transform: translateX(40%);
    -moz-transform: translateX(40%);
    -ms-transform: translateX(40%);
    -o-transform: translateX(40%);
  }
  60% {
    opacity: 100%;
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@keyframes slider-content {
  0% {
    opacity: 5%;
    transform: translateX(40%);
    -webkit-transform: translateX(40%);
    -moz-transform: translateX(40%);
    -ms-transform: translateX(40%);
    -o-transform: translateX(40%);
  }
  60% {
    opacity: 100%;
  }
  100% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
  }
}
@-webkit-keyframes slider-content-over-dir {
  0% {
    opacity: 5%;
    left: -40%;
  }
  60% {
    opacity: 100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slider-content-over-dir {
  0% {
    opacity: 5%;
    left: -40%;
  }
  60% {
    opacity: 100%;
  }
  100% {
    left: 0%;
  }
}
.slider-sec .slider__buttons-sec {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
  top: -63px;
  left: 51%;
}
.slider-sec .slider__buttons-sec .slider-button {
  width: 45%;
  height: 60px;
  border-radius: 5px;
  font-size: 27px;
  padding: 0;
  font-weight: bolder;
  line-height: 200%;
  background: #FFFFFF;
  color: #FF6A28;
  border: none;
  -webkit-box-shadow: 10px 2px 23px -7px rgba(34, 60, 80, 0.2);
  box-shadow: 10px 2px 23px -7px rgba(34, 60, 80, 0.2);
}
.slider-sec .slider__buttons-sec .slider-button:hover {
  color: #FFFFFF;
  background: #FF6A28;
}

.projects-tab {
  padding: 0 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 143px;
}
.projects-tab .projects-tab__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 148px;
}
.projects-tab .projects-tab__text-block .text-block__paragraf-container {
  margin-top: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.projects-tab .projects-tab__text-block .text-block__paragraf-container .paragraf-container__line {
  width: 67px;
  height: 0px;
  border: 2px solid #FF6A28;
}
.projects-tab .projects-tab__text-block .text-block__paragraf-container .paragraf-contaner__paragraf {
  margin: 0 20px;
}
.projects-tab .projects-tab__tabs-container {
  width: 100%;
  height: 741px;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 1px 8px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 2px 1px 8px 1px rgba(0, 0, 0, 0.16);
  border-radius: 121px;
  border: 2px solid rgba(53, 53, 53, 0.6);
}
.projects-tab .projects-tab__tabs-container .container-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -82px;
  left: 8.5%;
}
.projects-tab .projects-tab__tabs-container .container-btn .change-content-btn {
  cursor: pointer;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 30px;
  padding: 16px 35px 8px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-height: 92px;
  border: 2px solid rgba(98, 98, 98, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 47px 47px 0px 0px;
  -webkit-border-radius: 47px 47px 0px 0px;
  -moz-border-radius: 47px 47px 0px 0px;
  -ms-border-radius: 47px 47px 0px 0px;
  -o-border-radius: 47px 47px 0px 0px;
  background-color: #FFFFFF;
}
.projects-tab .projects-tab__tabs-container .container-btn .change-content-btn .change-content-btn__number {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #FF6A28;
}
.projects-tab .projects-tab__tabs-container .container-btn .change-content-btn .change-content-btn__text {
  animation: 0.8s ease slidein;
  -webkit-animation: 0.8s ease slidein;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  color: #121212;
  margin-left: 28px;
  position: relative;
  left: 0px;
}
@-webkit-keyframes slidein {
  0% {
    color: rgba(18, 18, 18, 0.0078431373);
    margin-left: -32px;
  }
  60% {
    color: rgba(18, 18, 18, 0.2980392157);
  }
  60% {
    color: #121212;
  }
  100% {
    left: 0px;
    margin-left: 28px;
  }
}
@keyframes slidein {
  0% {
    color: rgba(18, 18, 18, 0.0078431373);
    margin-left: -32px;
  }
  60% {
    color: rgba(18, 18, 18, 0.2980392157);
  }
  60% {
    color: #121212;
  }
  100% {
    left: 0px;
    margin-left: 28px;
  }
}
.projects-tab .projects-tab__tabs-container .content-container {
  position: relative;
  animation: slidein-content 0.8s ease-out;
  margin: auto auto;
  height: 75%;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: slidein-content 0.8s ease-out;
}
.projects-tab .projects-tab__tabs-container .content-container .content-container__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 411px;
  max-height: 80%;
  width: 46%;
}
.projects-tab .projects-tab__tabs-container .content-container .content-container__text-block .text-block__headline {
  font: 100% Poppins;
  font-weight: 600;
  font-size: 44px;
  line-height: 66px;
}
.projects-tab .projects-tab__tabs-container .content-container .content-container__text-block .text-block__paragraf {
  max-width: 96%;
  font-weight: 500;
  font-size: 21px;
  line-height: 191%;
  color: rgba(18, 18, 18, 0.83);
}
.projects-tab .projects-tab__tabs-container .content-container .content-container__text-block .text-block__button {
  padding: 13px 39px;
}
.projects-tab .projects-tab__tabs-container .content-container .content-container__img {
  margin-left: 50px;
  max-width: 50%;
  -webkit-box-shadow: 5px 36px 44px -10px rgba(34, 60, 80, 0.18);
  box-shadow: 5px 36px 44px -10px rgba(34, 60, 80, 0.18);
}
.projects-tab .projects-tab__tabs-container .content-container .content-container__img img {
  width: 100%;
}
@-webkit-keyframes slidein-content {
  0% {
    opacity: 0%;
    left: -2%;
  }
  60% {
    opacity: 100%;
  }
  100% {
    left: 0%;
  }
}
@keyframes slidein-content {
  0% {
    opacity: 0%;
    left: -2%;
  }
  60% {
    opacity: 100%;
  }
  100% {
    left: 0%;
  }
}
.projects-tab .projects-tab__tabs-container .content-hide {
  display: none;
}

footer {
  padding: 0 135px;
  margin-top: 169px;
  margin-bottom: 58px;
}
footer .foot-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 463px;
}
footer .foot-all .foot-all__main-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
footer .foot-all .foot-all__main-sec .main-sec__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 9%;
}
footer .foot-all .foot-all__main-sec .main-sec__part .part__big-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 191%;
  color: #121212;
}
footer .foot-all .foot-all__main-sec .main-sec__part .part__big-text-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
}
footer .foot-all .foot-all__main-sec .main-sec__part .part__big-text-sub p {
  width: 45%;
  font-weight: 600;
  font-size: 24px;
  line-height: 191%;
  color: #121212;
}
footer .foot-all .foot-all__main-sec .main-sec__part .part__big-text-sub .big-text__line {
  width: 45%;
  height: 0px;
  border: 2px solid #FF6A28;
}
footer .foot-all .foot-all__main-sec .main-sec__part .part__sub-links {
  margin-top: 16px;
  max-width: 80%;
  font-weight: 500;
  font-size: 20px;
  line-height: 191%;
  color: rgba(18, 18, 18, 0.5);
}
footer .foot-all .foot-all__main-sec .main-sec__part_1 {
  width: 45%;
}
footer .foot-all .foot-all__main-sec .main-sec__part_1 .part__submit-sec {
  margin-top: 38px;
  width: 85%;
}
footer .foot-all .foot-all__main-sec .main-sec__part_1 .part__submit-sec input {
  padding: 0 29px;
  width: 100%;
  height: 78px;
  border: none;
  background: #F8FAFB;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 191%;
  color: rgba(18, 18, 18, 0.5);
}
footer .foot-all .foot-all__main-sec .main-sec__part_1 .part__submit-sec button {
  padding: 11px 24px;
  position: relative;
  top: -65px;
  -webkit-box-shadow: none;
          box-shadow: none;
  left: 75%;
}
footer .foot-all .foot-all__sub-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10%;
}
footer .foot-all .foot-all__sub-sec .sub-sec__text {
  width: 65%;
}
footer .foot-all .foot-all__sub-sec .sub-sec__text-div {
  justify-self: flex-end;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .foot-all .foot-all__sub-sec .sub-sec__text-div .sub-sec__text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hide {
  display: none;
}