@font-face {
    font-family: "PLayfairDisplay";
    font-style : normal;
    font-weight: 700;
    src        : url("../fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: "Poppins";
    font-style : normal;
    font-weight: 500;
    src        : url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins";
    font-style : normal;
    font-weight: 600;
    src        : url("../fonts/Poppins/Poppins-SemiBold.ttf");
}

* {
    margin : 0;
    padding: 0;
}

body {
    max-width: 1920px;
    margin   : 0 auto;
}

img {
    width: 100%;
}

button {
    cursor               : pointer;
    padding              : 11px 39px;
    font                 : 100% Poppins;
    font-size            : 20px;
    font-weight          : 600;
    line-height          : 27px;
    color                : white;
    border               : #FF6A28 solid 1px;
    background           : #FF6A28;
    border-radius        : 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius   : 5px;
    -ms-border-radius    : 5px;
    -o-border-radius     : 5px;
    -webkit-box-shadow   : 0px 21px 42px -19px rgba(246, 140, 82, 0.34);
    -moz-box-shadow      : 0px 21px 42px -19px rgba(246, 140, 82, 0.34);
    box-shadow           : 0px 21px 42px -19px rgba(246, 140, 82, 0.34);
    position             : relative;

}

button:active {
    top: 3px;
}

h1 {
    font       : 100% PLayfairDisplay;
    font-size  : 60px;
    font-weight: 700;
    line-height: 80px;
    color      : #121212;
}

a,
p {
    font       : 100% Poppins;
    font-weight: 500;
    font-size  : 20px;
    line-height: 175%;
    color      : rgba(18, 18, 18, 0.6);
}

button,
a {
    cursor         : pointer;
    text-decoration: none;
}

.head {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
    padding        : 53px 10vw;

    .head__logo {
        font       : 100% PlayfairDisplay;
        font-size  : 32px;
        line-height: 43px;
        font-weight: 700;
    }

    .head__links {
        min-width      : 60%;
        display        : flex;
        justify-content: space-between;
        align-items    : center;

        .links__link {

            font-size  : 20px;
            font-weight: 500;
            line-height: 30px;
            color      : #12121299;
        }

        .links__link_black_text {
            color: black;
        }

        .links__button {
            padding    : 11px 29px;
            font-size  : 18px;
            font-weight: 600;
            line-height: 27px;
            color      : #FF6A28;
            border     : #FF6A28 solid 1px;
            background : white;
            box-shadow : none;
        }
    }

    #link-top {
        position         : fixed;
        top              : 8%;
        left             : 3%;
        width            : 40px;
        height           : 30px;
        animation        : appear 0.5s ease;
        -webkit-animation: appear 0.5s ease;

        img {
            opacity: 15%;
        }

        @keyframes appear {
            0% {
                opacity: 0%;

            }

            100% {
                opacity: 100%;

            }
        }
    }

    #menu-burger {
        display: none;
        height : 100%;


    }



    .burger-bg {
        position         : fixed;
        width            : 100%;
        height           : 100%;
        top              : 0%;
        left             : 0%;
        background-color : rgba(43, 27, 27, 0.4);
        z-index          : 100;
        animation        : 0.2s burger-bg-appear linear;
        -webkit-animation: 0.2s burger-bg-appear linear;

        .burger-content {
            animation      : burger-content-appear 0.3s ease-out;
            margin         : 5vh 70vw;
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            flex-direction : column;
            background     : #FFFFFF;
            width          : 25vw;

            height               : 30vh;
            max-height           : 40vh;
            border-radius        : 20px 0px 0px 20px;
            -webkit-border-radius: 20px 0px 0px 20px;
            -moz-border-radius   : 20px 0px 0px 20px;
            -ms-border-radius    : 20px 0px 0px 20px;
            -o-border-radius     : 20px 0px 0px 20px;
            padding              : 28px;
            -webkit-animation    : burger-content-appear 0.3s ease-out;

            .burger-content__close {
                justify-self   : flex-start;
                background     : url(../img/close.png) no-repeat;
                background-size: cover;
                border         : none;
                padding        : 0;
                height         : 45px;
                width          : 45px;

                align-self: flex-end;
            }

            .links {
                width          : 100%;
                height         : 85%;
                display        : flex;
                justify-content: space-evenly;
                align-items    : center;
                flex-direction : column;

                .links__link {

                    font-size  : 20px;
                    font-weight: 500;
                    line-height: 30px;
                    color      : #121212;
                }
            }
        }


    }

    @keyframes burger-bg-appear {
        0% {

            background-color: rgba(43, 27, 27, 0.0);
        }

        100% {
            background-color: rgba(43, 27, 27, 0.4);
        }

    }

    @keyframes burger-content-appear {
        0% {
            transform        : translateX(90%);
            opacity          : 0%;
            -webkit-transform: translateX(90%);
            -moz-transform   : translateX(90%);
            -ms-transform    : translateX(90%);
            -o-transform     : translateX(90%);
        }

        40% {
            opacity: 100%;
        }

        100% {
            transform        : translateX(0%);
            -webkit-transform: translateX(0%);
            -moz-transform   : translateX(0%);
            -ms-transform    : translateX(0%);
            -o-transform     : translateX(0%);
        }

    }

    .links-hide {
        display: none;
    }
}

.start-sec {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    padding        : 0 135px;

    .start-sec__text-block {
        min-height     : 365px;
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: space-between;

        .text-block__headline {
            text-align : center;
            font-size  : 60px;
            font-weight: 700;
            line-height: 80px;
            max-width  : 96%;
        }

        .text-block__paragraf {
            text-align : center;
            font       : 100% Poppins;
            font-size  : 20px;
            font-weight: 500;
            line-height: 35px;
            color      : #12121299;
            max-width  : 82%;
        }
    }

    .start-sec__img-block {
        display           : flex;
        justify-content   : space-between;
        align-items       : flex-start;
        margin-top        : 47px;
        width             : 100%;
        min-height        : 643px;
        background        : url(../img/Img1.png) no-repeat;
        background-size   : cover;
        -webkit-box-shadow: 0px 14px 33px -19px rgba(0, 0, 0, 0.21);
        -moz-box-shadow   : 0px 14px 33px -19px rgba(0, 0, 0, 0.21);
        box-shadow        : 0px 14px 33px -19px rgba(0, 0, 0, 0.21);

        .img-block__text-block {
            display              : flex;
            flex-direction       : row;
            align-items          : center;
            justify-content      : center;
            max-width            : 29%;
            max-height           : 148px;
            background           : #FFFFFFC2;
            padding              : 44px 38px;
            border-radius        : 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius   : 10px;
            -ms-border-radius    : 10px;
            -o-border-radius     : 10px;
            margin               : 28px;

            .text-block__headline {
                font       : 100% Poppins;
                font-weight: 600;
                font-size  : 44px;
                line-height: 56px;
                color      : #FF6A28;
            }

            .text-block__paragraf {
                margin-left: 16px;
                font-weight: 500;
                font-size  : 20px;
                line-height: 30px;
                max-width  : 68%;
            }
        }

        .img-block__text-block_right_down {
            align-self  : flex-end;
            justify-self: flex-end;
        }
    }
}

.modal-block_bg {
    position        : fixed;
    width           : 100%;
    height          : 100%;
    top             : 0%;
    left            : 0%;
    background-color: rgba(43, 27, 27, 0.4);
    z-index         : 1000;

    .modal-block {
        max-height           : 95%;
        min-height: 900px;
        margin               : 5vh auto;
        display              : flex;
        flex-direction       : column;
        justify-content      : center;
        align-items          : center;
        padding              : 0px 37px 41px 37px;
        background           : white;
        border-radius        : 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius   : 10px;
        -ms-border-radius    : 10px;
        -o-border-radius     : 10px;
        max-width            : 585px;
        -webkit-box-shadow   : 10px 9px 34px 0px rgba(32, 7, 13, 0.14);
        -moz-box-shadow      : 10px 9px 34px 0px rgba(32, 7, 13, 0.14);
        box-shadow           : 10px 9px 34px 0px rgba(32, 7, 13, 0.14);

        .modal-block__close {
            background     : url(../img/close.png) no-repeat;
            background-size: cover;
            border         : none;
            padding        : 0;
            height         : 45px;
            width          : 45px;
            margin-top     : 15px;
            align-self     : flex-end;
        }

        .modal-block__input-block {
            margin-top     : 34px;
            display        : flex;
            justify-content: center;
            flex-direction : column;
            align-items    : flex-start;

            .input-block__label {
                font       : 100% Poppins;
                font-size  : 24px;
                font-weight: 500;
                line-height: 46px;
                color      : black;
            }

            .input-block__input {
                margin               : 4px;
                font                 : 100% Poppins;
                font-weight          : 500;
                font-size            : 24px;
                line-height          : 46px;
                color                : #12121280;
                background           : #F8FAFB;
                border-radius        : 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius   : 8px;
                -ms-border-radius    : 8px;
                -o-border-radius     : 8px;
                border               : none;
                padding              : 31px 0 31px 35px;
                min-width            : 510px;
            }

        }

        .modal-block__input-block_first {
            margin-top: 4px;
        }

        .modal-block__button {
            align-self           : flex-end;
            font                 : 100% Poppins;
            color                : white;
            border-radius        : 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius   : 10px;
            -ms-border-radius    : 10px;
            -o-border-radius     : 10px;
            background           : #FF6A28;
            font-size            : 24px;
            font-weight          : 600;
            line-height          : 30px;
            border               : none;
            margin-top           : 58px;
            padding              : 23px 50px;
        }
    }
}

.accordeon-sec {
    margin-top: 111px;
    padding   : 0 135px;

    .accordeon-sec__main-text {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : flex-start;

        .main-text__headline {
            font-weight: 700;
            font-size  : 60px;
            line-height: 70px;
        }

        .main-text__sub-block {
            margin-top     : 9px;
            display        : flex;
            flex-direction : row;
            align-items    : center;
            justify-content: flex-start;

            .sub__block-line {
                width : 67px;
                height: 0px;
                border: 2px solid #FF6A28;

            }

            p {
                margin-left: 17px;
            }
        }
    }

    .accordeon-sec__main-sec {
        margin-top     : 20px;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : flex-start;
        width          : 100%;

        .accordeon-el {
            border               : 2px solid #121212;
            border-radius        : 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            -moz-border-radius   : 10px 10px 10px 10px;
            -ms-border-radius    : 10px 10px 10px 10px;
            -o-border-radius     : 10px 10px 10px 10px;
            margin-top           : 45px;

            width     : 90%;
            box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.1);

            .accordeon-el__slide-down-btn {

                cursor               : pointer;
                display              : flex;
                flex-direction       : row;
                align-items          : center;
                justify-content      : flex-start;
                padding              : 0 41px;
                background           : #FFFFFF;
                border               : 2px solid #121212;
                border-top           : none;
                border-left          : none;
                border-right         : none;
                border-radius        : 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius   : 10px;
                -ms-border-radius    : 10px;
                -o-border-radius     : 10px;

                height: 170px;

                .slide-down-btn__number {

                    font-weight: 600;
                    font-size  : 50px;
                    line-height: 175%;
                    color      : rgba(255, 106, 40, 0.7);
                    width      : 12%;
                }

                .slide-down-btn__headline {
                    width      : 86%;
                    font-weight: 600;
                    font-size  : 50px;
                    line-height: 60px;
                    color      : #121212;

                }

                .slide-down-btn__img {
                    justify-self: flex-end;
                    width       : 6%;



                }

            }

            .accordeon-el__slide-down-btn_animation {
                background-color     : #ff69280c;
                animation            : borderchange 0.5s ease;
                -webkit-animation    : borderchange 0.5s ease;
                border-radius        : 10px 10px 0px 0px;
                -webkit-border-radius: 10px 10px 0px 0px;
                -moz-border-radius   : 10px 10px 0px 0px;
                -ms-border-radius    : 10px 10px 0px 0px;
                -o-border-radius     : 10px 10px 0px 0px;
            }

            @keyframes borderchange {
                0% {
                    background-color     : #FFFFFF;
                    border-radius        : 10px 10px 10px 10px;
                    -webkit-border-radius: 10px 10px 10px 10px;
                    -moz-border-radius   : 10px 10px 10px 10px;
                    -ms-border-radius    : 10px 10px 10px 10px;
                    -o-border-radius     : 10px 10px 10px 10px;
                }

                100% {
                    background-color     : #ff69280c;
                    border-radius        : 10px 10px 0px 0px;
                    -webkit-border-radius: 10px 10px 0px 0px;
                    -moz-border-radius   : 10px 10px 0px 0px;
                    -ms-border-radius    : 10px 10px 0px 0px;
                    -o-border-radius     : 10px 10px 0px 0px;
                }
            }

            .accordeon-el__info-sec {
                min-height       : 300px;
                display          : flex;
                justify-content  : flex-start;
                align-items      : flex-start;
                flex-direction   : row;
                padding          : 45px 45px;
                animation        : info-appear 1s ease;
                -webkit-animation: info-appear 1s ease;
                margin-top       : 0px;

                .info-sec__img {
                    width    : 40%;
                    max-width: 40%;

                    img {
                        opacity: 95%;
                    }
                }

                .info-sec__paragraf {
                    margin-left: 111px;

                    max-width  : 50%;
                    font-weight: 500;
                    font-size  : 32px;
                    line-height: 43px;

                }
            }



            .info-hide {

                display: none;
            }

            @keyframes info-appear {
                0% {
                    margin-bottom: -200px;
                    opacity      : 0%;

                }

                50% {
                    opacity: 0%;
                }

                100% {
                    opacity      : 100%;
                    margin-bottom: 0;
                }

            }
        }

    }
}

.slider-sec {

    margin-top: 99px;
    padding   : 56px 135px;
    background: #F8FAFB;

    .slider-sec__main-text {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : flex-start;

        .main-text__headline {
            font-weight: 700;
            font-size  : 60px;
            line-height: 70px;

        }

        .main-text__sub-block {
            margin-top     : 9px;
            display        : flex;
            flex-direction : row;
            align-items    : center;
            justify-content: flex-start;

            .sub-block__line {
                width : 67px;
                height: 0px;
                border: 2px solid #FF6A28;

            }

            p {
                margin-left: 17px;
            }
        }
    }

    .slider__main-sec {
        position         : relative;
        z-index          : 0;
        animation        : slider-content 0.8s ease;
        width            : 100%;
        margin-top       : 39px;
        display          : flex;
        flex-direction   : row;
        justify-content  : space-between;
        align-items      : flex-start;
        -webkit-animation: slider-content 0.8s ease;

        .main-sec__img {
            width             : 46%;
            -webkit-box-shadow: 5px 36px 44px -10px rgba(34, 60, 80, 0.18);
            -moz-box-shadow   : 5px 36px 44px -10px rgba(34, 60, 80, 0.18);
            box-shadow        : 5px 36px 44px -10px rgba(34, 60, 80, 0.18);
        }

        .main-sec__text {
            width          : 49%;
            // margin-left: 50px;
            display        : flex;
            flex-direction : column;
            justify-content: flex-start;
            align-items    : flex-start;

            .text__name {
                text-align : justify;
                font-weight: 600;
                font-size  : 50px;
                line-height: 60px;
                color      : #121212;
            }

            .text__job {

                margin-top : 6px;
                font-weight: 500;
                font-size  : 20px;
                line-height: 30px;
                color      : rgba(18, 18, 18, 0.6);
            }

            .text__review {

                margin-top : 34px;
                font-weight: 500;
                font-size  : 22px;
                line-height: 191%;
                max-width  : 100%;
                color      : rgba(18, 18, 18, 0.83);
            }
        }
    }

    .slider__main-sec_animation_over_dir {
        animation        : slider-content-over-dir 0.8s ease;
        -webkit-animation: slider-content-over-dir 0.8s ease;
    }

    @keyframes slider-content {
        0% {
           opacity: 5%;
           transform: translateX(40%);
           -webkit-transform: translateX(40%);
           -moz-transform: translateX(40%);
           -ms-transform: translateX(40%);
           -o-transform: translateX(40%);
}

        60% {
            opacity: 100%;
        }

        100% {
            transform: translateX(0%);
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -ms-transform: translateX(0%);
            -o-transform: translateX(0%);
}
    }

    @keyframes slider-content-over-dir {
        0% {

            opacity: 5%;
            left   : -40%;
        }

        60% {
            opacity: 100%;
        }

        100% {
            left: 0%;
        }
    }

    .slider__buttons-sec {
        width          : 12%;
        display        : flex;
        justify-content: space-between;
        flex-direction : row;
        align-items    : center;
        position       : relative;
        z-index        : 10;
        top            : -63px;
        left           : 51%;

        .slider-button {
            width             : 45%;
            height            : 60px;
            border-radius     : 5px;
            font-size         : 27px;
            padding           : 0;
            font-weight       : bolder;
            line-height       : 200%;
            background        : #FFFFFF;
            color             : #FF6A28;
            border            : none;
            -webkit-box-shadow: 10px 2px 23px -7px rgba(34, 60, 80, 0.20);
            -moz-box-shadow   : 10px 2px 23px -7px rgba(34, 60, 80, 0.20);
            box-shadow        : 10px 2px 23px -7px rgba(34, 60, 80, 0.20);
        }

        .slider-button:hover {
            color     : #FFFFFF;
            background: #FF6A28;

        }
    }
}

.projects-tab {
    padding        : 0 111px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    margin-top     : 143px;

    .projects-tab__text-block {
        display        : flex;
        flex-direction : column;
        align-items    : center;
        justify-content: center;
        margin-bottom  : 148px;



        .text-block__paragraf-container {
            margin-top     : 9px;
            display        : flex;
            flex-direction : row;
            align-items    : center;
            justify-content: space-around;

            .paragraf-container__line {
                width : 67px;
                height: 0px;
                border: 2px solid #FF6A28;

            }

            .paragraf-contaner__paragraf {
                margin: 0 20px;
            }
        }
    }

    .projects-tab__tabs-container {

        width        : 100%;
        height       : 741px;
        background   : #FFFFFF;
        box-shadow   : 2px 1px 8px 1px rgba(0, 0, 0, 0.16);
        border-radius: 121px;
        border       : 2px solid rgba(53, 53, 53, 0.6);


        .container-btn {
            width          : 100%;
            display        : flex;
            flex-direction : row;
            justify-content: flex-start;
            align-items    : center;
            position       : relative;
            top            : -82px;
            left           : 8.5%;


            .change-content-btn {
                cursor               : pointer;
                width                : max-content;
                margin-right         : 30px;
                padding              : 16px 35px 8px 35px;
                display              : flex;
                flex-direction       : row;
                justify-content      : center;
                align-items          : center;
                flex-wrap            : nowrap;
                max-height           : 92px;
                border               : 2px solid rgba(98, 98, 98, 0.6);
                box-shadow           : none;
                border-radius        : 47px 47px 0px 0px;
                -webkit-border-radius: 47px 47px 0px 0px;
                -moz-border-radius   : 47px 47px 0px 0px;
                -ms-border-radius    : 47px 47px 0px 0px;
                -o-border-radius     : 47px 47px 0px 0px;
                background-color     : #FFFFFF;

                .change-content-btn__number {
                    font-weight: 700;
                    font-size  : 44px;
                    line-height: 54px;
                    text-align : center;
                    color      : #FF6A28;
                }

                .change-content-btn__text {
                    animation        : 0.8s ease slidein;
                    -webkit-animation: 0.8s ease slidein;
                    font-weight      : 400;
                    font-size        : 35px;
                    line-height      : 45px;
                    text-align       : center;
                    color            : #121212;
                    margin-left      : 28px;
                    position         : relative;
                    left             : 0px;
                }




                @keyframes slidein {
                    0% {
                        color         : #12121202;
                        // left       : -20px;
                        margin-left   : -32px;
                    }

                    60% {
                        color: #1212124c;
                    }

                    60% {
                        color: #121212;
                    }

                    100% {
                        left       : 0px;
                        margin-left: 28px;
                    }
                }

            }

        }

        .content-container {
            position         : relative;
            animation        : slidein-content 0.8s ease-out;
            margin           : auto auto;
            height           : 75%;
            width            : 85%;
            display          : flex;
            flex-direction   : row;
            align-items      : center;
            justify-content  : center;
            -webkit-animation: slidein-content 0.8s ease-out;

            .content-container__text-block {
                display        : flex;
                flex-direction : column;
                align-items    : flex-start;
                justify-content: space-between;
                min-height     : 411px;
                max-height     : 80%;
                width          : 46%;

                .text-block__headline {
                    font       : 100% Poppins;
                    font-weight: 600;
                    font-size  : 44px;
                    line-height: 66px;

                }

                .text-block__paragraf {
                    max-width  : 96%;
                    font-weight: 500;
                    font-size  : 21px;
                    line-height: 191%;
                    color      : rgba(18, 18, 18, 0.83);
                }

                .text-block__button {
                    padding: 13px 39px;
                }
            }

            .content-container__img {
                margin-left       : 50px;
                max-width         : 50%;
                -webkit-box-shadow: 5px 36px 44px -10px rgba(34, 60, 80, 0.18);
                -moz-box-shadow   : 5px 36px 44px -10px rgba(34, 60, 80, 0.18);
                box-shadow        : 5px 36px 44px -10px rgba(34, 60, 80, 0.18);

                img {
                    width: 100%;
                }
            }
        }

        @keyframes slidein-content {
            0% {

                opacity: 0%;
                left   : -2%;
            }

            60% {
                opacity: 100%;
            }

            100% {
                left: 0%;
            }
        }


        .content-hide {
            display: none;
        }
    }
}

footer {
    padding      : 0 135px;
    margin-top   : 169px;
    margin-bottom: 58px;

    .foot-all {
        display        : flex;
        flex-direction : column;
        justify-content: space-between;
        align-items    : center;
        min-height     : 463px;

        .foot-all__main-sec {
            display        : flex;
            flex-direction : row;
            justify-content: space-between;
            align-items    : flex-start;
            width          : 100%;

            .main-sec__part {
                display        : flex;
                flex-direction : column;
                align-items    : flex-start;
                justify-content: space-between;
                width          : 9%;


                .part__big-text {
                    font-weight: 600;
                    font-size  : 24px;
                    line-height: 191%;
                    color      : #121212;
                }

                .part__big-text-sub {
                    display        : flex;
                    justify-content: space-between;
                    align-items    : center;
                    flex-direction : row;
                    width          : 50%;

                    p {
                        width      : 45%;
                        font-weight: 600;
                        font-size  : 24px;
                        line-height: 191%;
                        color      : #121212;
                    }

                    .big-text__line {
                        width : 45%;
                        height: 0px;
                        border: 2px solid #FF6A28;
                    }
                }

                .part__sub-links {
                    margin-top : 16px;
                    max-width  : 80%;
                    font-weight: 500;
                    font-size  : 20px;
                    line-height: 191%;
                    color      : rgba(18, 18, 18, 0.5);

                }

            }

            .main-sec__part_1 {
                width: 45%;

                .part__submit-sec {
                    margin-top: 38px;
                    width     : 85%;

                    input {
                        padding      : 0 29px;
                        width        : 100%;
                        height       : 78px;
                        border       : none;
                        background   : #F8FAFB;
                        border-radius: 8px;
                        font-weight  : 500;
                        font-size    : 20px;
                        line-height  : 191%;
                        color        : rgba(18, 18, 18, 0.5);
                    }

                    button {
                        padding   : 11px 24px;
                        position  : relative;
                        top       : -65px;
                        box-shadow: none;
                        left      : 75%;
                    }

                }
            }
        }

        .foot-all__sub-sec {
            display        : flex;
            flex-direction : row;
            justify-content: space-between;
            align-items    : center;
            width          : 100%;
            height         : 10%;

            .sub-sec__text {
                width: 65%;
            }

            .sub-sec__text-div {
                justify-self   : flex-end;
                width          : 35%;
                display        : flex;
                flex-direction : row;
                justify-content: space-between;
                align-items    : center;

                .sub-sec__text {
                    width: fit-content;
                }
            }

        }
    }
}

.hide {
    display: none;

}