@media (max-width:1500px){


}
@media (max-width:1260px){
    .container {
        max-width: 1260px;
    }
    .main-background{
        padding: 0 10%;
    }
    .header-div img{
        
        object-fit: contain;
        width: 10%;
    }
    .nav-links button{
        width: 100px;
        height: 40px;
    }
    .nav-home-button img{
        visibility: hidden;
    }
    .nav-links{
        min-width: 70%;
        font-size: 14px;
        font-weight: 400;
    }
    .sec-1{
        padding-bottom: 50px;
        margin-top: 30px;
    }
    .main-text-flex h4, .main-text-sec2 h4, .main-text-sec4 h4{
        font-size: 14px;
        margin-bottom: 8px;
    }
    .main-text-flex{
        width: 50%;
        margin-right: 0px;
        
    }
    .sec-1-main-img{
        
        width: 50%;
        object-fit: fill;
        
    }
    .main-text-flex h1, .main-text-sec2 h1, .main-text-sec4 h1{
        font-size: 40px;
        margin-bottom: 10px;
        max-width: 400px;
    }
    .main-text-flex p, .main-text-sec2 p, .main-text-sec4 p{
        
        margin-bottom: 20px;
    }
    .sec-2{
        padding-right: 0px;
        margin-top: 50px;
    }
    .main-text-sec2{
        width: 50%;
    }
    .sec-2 img{
        width: 50%;
    }
    .sub-sec-each{
        width: 30%;
    }
    .sub-sec-each p{
        max-width: 280px;
    }

    #sub-sec-1{ 
        padding-top: 0px;
    }
    .sec-3{
        margin-top: 50px;
    }
    .sec-4{
        margin-top: 60px;
        padding-left: 30px;
        padding-right: 0px;
    }

    .main-text-sec4{
        width: 50%;
    }
    .download-links img{
        margin-right: 10px;
        width: 40%;
    }
    .sec-5{
        margin-top: 50px;
    }

    .foot-sec{
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .foot-foot{
        margin-top: 30px;
        padding: 25px;
    }
    .foot-main-sec{
        width: 90%;
    }
    .foot-sub-sec23{
        width: 25%;
        margin-right: 0px;
    }
    .foot-sub-sec23 h5{
        margin-top: 10px;
        font-size: 14px;
    }
    .foot-sub-sec23 h3{
        margin-bottom: 6px;
        font-size: 18px;
    }
    .foot-sub-sec4{
        width: 25%;
    }
    .foot-sub-sec1{
        width: 25%;
        margin-right: 20px;
    }

    .foot-sub-sec1 p{
        margin-top:0px;
        max-width: 200px;
        font-size: 14px;
    }
    .media-links img{
        width: 22%;
        
    }
    .foot-main-img{
        margin-left: -10px;
    }
    .media-links{
        margin-top: 20px;
        min-width: 150px;
    }
    .foot-sub-sec4 h2{
        font-size: 20px;
    }
    .input-email input{
        padding-left: 13px;
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 15px;
        width: 100%;
        height: 40px;
    }
    .input-email img{
        width: 15%;
        right: 0%;
        object-fit: scale-down;
    }
    #support-number{
        font-size: 14px;
       
    }
    #support-email{
        font-size: 14px;
        padding-bottom: 10px;
    }

    
    

}
@media (max-width:1060px){
    
    .icon-burger{
        visibility: visible;
        width: 5%;
    }
    .icon-burger::before{
        
        font-family: "fontello";
        content: '\e800';
    }
    .main-background{
        z-index: -10;
        background: #FFE6D9;
    }
    .header-div{
        
        justify-content: space-between;
    }
    .header-div img{
        
        margin-left: 6%;
    }
    .leaf-img{
        display:none;
    }
    .sec-1-main-img{
        width: 60%;
        position: absolute;
        z-index: -5;
        opacity: 80%;
        top:70%;
        left: 70%;
        transform: translate(-50%,-50%);
    }
    .nav-links{
        display:none; /* заменить блок на бургер */
    }
    .header-div img{
        width: 8%;
    }
    .header-div{
        padding: 0 0%;
        padding-top: 1%;
    }
    .main-background{
        padding: 0 0%;
        
    }
    .sec-1{
        height: 100%;
        width: 100%;
        padding: 2% 7%;
        align-items: center;
        justify-content: flex-start;
        justify-self: flex-start;
    }
    .main-text-flex{
        z-index: 10;
    }
    .main-text-flex h4, .main-text-sec2 h4, .main-text-sec4 h4{
        font-size: 12px;
        margin-bottom: 6px;
    }
    .main-text-flex h1, .main-text-sec2 h1, .main-text-sec4 h1{
        font-size:35px;
        max-width: 350px;
    }
    .main-text-flex p, .main-text-sec2 p, .main-text-sec4 p{
        font-size: 13px;
        margin-bottom: 10px;
        max-width: 250px;
    }
    .sub-sec5-each button, .main-text-sec2 button, .main-text-flex button{
        width: 100px;
        height: 40px;
        font-size: 11px;
    }
    .sec-2{
        width: 100%;
        padding: 0%;
        min-width: 0%;
    }


    #sub-sec-1{
        padding-top: 20px;
    }
    .sec-3 h1{
        font-size: 35px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .sec-3-sub-sec{
        justify-content: center;
        flex-wrap: wrap;
    }
    .sub-sec-each{
        width: 40%;
    }
    .sub-sec-each img{
        width: 20%;
        
    }
    .sub-sec-each h1{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 23px;
    }
    .sub-sec-each p{
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: 250px;
        font-size: 13px;
    }
    #sub-sec-3{
        margin-top: 20px;
    }
    .sec-4{
        justify-content: center;
        margin-top: 6 0px;
    }
 
    .main-text-sec4{
        width: 40%;
    }

    .main-text-sec4 h1{
        margin-top: 0;
    }
    .sec-5-sub-sec{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .sub-sec5-each{
        width: 40%;
       
    }
    .sub-sec5-each h1 {
        margin-bottom: 10px;
        margin-top: 110px;
    }
    .sub-sec5-each p{
        margin-bottom: 50px;
        
    }
    #sub-sec5-mid button{
        background: #FFFFFF;
        color: #F6762C;
    }
    #sub-sec5-mid{
        margin-left: 0;
        margin-right: 0;
    }
}
@media (max-width:750px){
    .sec-4-img{
        animation-name: none;
    }
    .sec-1-main-img{
        width: 0%;
        display: none;
   
    }
    .main-background{
        background-color:  #FFE6D9;
        background-image: url('../pic/1st-plate.png') ;
        background-blend-mode:soft-light;
        padding-bottom: 20px;
    }
    .sec-1{
        width: 100%;
        justify-content: flex-start;
        padding: 0%;
        padding-left: 8%;
        margin-top: 10px;
    }
    .main-text-flex{
        min-width: 80%;
    }
    .main-text-flex h1, .main-text-sec2 h1, .sec-3 h1, .main-text-sec4 h1, .sec-5 h1{
        font-size: 30px;
        margin-bottom: 4px;
        
    }
    .main-text-flex h4, .main-text-sec2 h4, .main-text-sec4 h4{
        margin-bottom: 0px;
        font-size: 10px;
    }
    .main-text-flex p, .main-text-sec2 p, .sub-sec-each p, .main-text-sec4 p{
        font-size: 11px;
        max-width: 70%;
    }
    .sub-sec5-each button, .main-text-sec2 button, .main-text-flex button{
        width: 90px;
        font-size: 10px;
    }

    .sub-sec-each{
        width: 90%;
    }
    .sub-sec-each h1{
        font-size: 20px;
        margin: 0%;
    }
    .sub-sec-each img{
       object-fit: scale-down;
    }
    .main-text-sec2{
        width: 60%;
        align-items: flex-start;
        margin-left: 10px;
    }
    .sec-2 img{
        width: 40%;
        padding-left: 8%;
    }
    .main-text-sec2 h1{
        max-width: 80%;
    }
    .download-links img{
        width: 40%;
        padding: 0%;
        margin-left: 1%;
    }
    .sub-sec5-each h1{
        font-size: 23px;
    }
    .sub-sec5-each{
        width: 60%;
        margin-top: 20%;
    }
    .sub-sec5-each img{
        object-fit:scale-down;
    }
    .foot-main-sec{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .foot-sub-sec1{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .dop-sec-stuff{
        display: none;
    }
    .media-links{
        margin-top: 10px;
        max-width: 100%;
    }
    .media-links img{
        width: 14%;
        margin-left:15px;
        margin-right: 15px;
    }
    .foot-sec{
        padding-top: 20px;
        width: 100%;
    }
    .foot-main-sec{
        width: 100%;
    }
    .foot-sub-sec23{
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .foot-sub-sec23 h3{
        margin-bottom: 0;
    }
    .foot-sub-sec1 p{
        display: none;
    }
    .foot-sub-sec4{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:   center;
        align-items: center;
    }
    .foot-sub-sec4 h2{
        width: 30%;
    }
    .input-email{
        margin: 0;
        width: 40%;
        height: auto;
        
    }
    .input-email input{
        font-size: 12px;
        
    }
    .input-email img{
       width: 10%;
    }
    .foot-sub-sec4 p{
        width: 40%;
        font-size: 12px;
        
    }
    #support-email{
        margin: 0;
        padding: 0%;
        
    }
    #support-number{
        margin-left: 10%;
    }

    .foot-sub-sec4 p{
        width: 40%;
        font-size: 12px;
        
    }
    .foot-foot{
        margin-top: 10px;
        padding: 15px;
    }
}
@media (max-width:540px){
    .main-background{
        background-position: 20% 50%;
        background-blend-mode:overlay;
    }
    .header-div img{
        width: 11%;
    }
    .sec-2{
        
        align-items: center;
        justify-content: center;
        width: 90%;
        position: relative;
        /* backdrop-filter: url(commonfilters.svg#filter);
        background: url('../pic/2nd-block.png') center/cover no-repeat;
        backdrop-filter: opacity(20%); */
    }
    
    .sec-2 img{
        padding: 0%;
        position: absolute;
        z-index: -10;
        opacity: 20%;
        width: 250px; 
        left: 60%;
        transform: translate(-50%,0%);

    }
    .main-text-sec2{
        width: 90%;
    }
    .main-text-sec2 h4{
        max-width: 300px;
    }
    .main-text-sec2 h1{
        max-width: 300px;
    }
    .main-text-sec2 p{
        max-width: 300px;
    }
    .sec-3{
        width: 90%;
    }
    .sec-3 h1, .sec-5 h1{
        font-size: 25px;
    }
    .sec-3 h4{
        font-size: 14px;
    }
    .sub-sec-each h1{
        font-size: 18px;
    }
    #sub-sec-1 p{
        width: 50%;
       min-width: 180px;
    }
    .sub-sec-each p , .sub-sec5-each p{
        font-size: 10px;
        /* min-width: 200px; */
        width: 50%;
        min-width: 200px;
    }

    .sec-4{
        position: relative;
        width: 100%;
    }
    .main-text-sec4{
        width: 100%;
    }
    .sec-4-img{
        position: absolute;
        z-index: -10;
        opacity: 20%;
        transform: translate(-50%,-50%);
        left: 70%;
        top: 50%;
        width: 60%;
    }
    .download-links img{
        width: 20%;
    }
    .sec-5 h4{
        font-size: 14px;
    }
    .sec-5 h1{
        text-align: center;
        
        margin:0;
    }
    .sub-sec5-each h1{
        margin-top: 0px;
        margin-top: 80px;
        font-size: 18px;
    }
    .sub-sec5-each img{
        margin-top: 10px;
    }
    .sub-sec5-each div{
        width: 40px;
        height: 40px;
        font-size: 8px;
    }
    .foot-sub-sec1{
        margin: 0%;
    }
    .foot-main-img{
        width: 20%;
    }
    .media-links{
        margin-top: 3px;
    }
    .media-links img{
        width: 15%;
        margin: 0%;
    }
    .foot-sub-sec23{
        width: 90%;
        margin-top: 2px;
    }
    .foot-sub-sec23 h3{
        width: 100%;
        font-size: 15px;
        text-align: center;
    }
    .foot-sub-sec4{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .foot-sub-sec4 h2{
        width: 100%;
       font-size: 12px;
       text-align: center;
       margin-top: 10px;
    }
    .input-email input{
        margin: 10px 0;
    }
    #support-number, #support-email {
        width: 90%;
        font-size: 11px;
        margin: 0%;
        text-align: center;
    }
    .foot-foot{
        width: 80%;
        font-size: 10px;
        padding: 5px;
    }
    
}
